<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Discord...</title>
    <script>
        window.location.href = ${JSON.stringify("https://discord.com/invite/"+inviteCode)}
    </script>
</head>
<body>
    <noscript>
        Please enable javascript for automatic redirection, or click <a href=${JSON.stringify("https://discord.com/invite/"+inviteCode)}>here</a>
    </noscript>
</body>
</html>